.shop-page {
  background-color: #313131;
  background-size: cover;
  height: 100vh;
}

.heading {
  color: white;
}

.menu {
  padding: 10rem 20rem 10rem 20rem;
//   background-color: #313131;
//   background-size: cover;
}
